{% extends 'base.html' %}
{% load static %}

{% block title %}Database{% endblock title %}

{% block content %}
    <h1 class="text-2xl pb-5">Textile Records</h1>
    <table class="min-w-full divide-y divide-gray-200">
        <thead class="bg-gray-50">
            <tr>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Description of Source</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Summary</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Year</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">From Area</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">To Area</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">From Place</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">To Place</th>
            </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
            {% for record in textile_records %}
                <tr>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ record.description_of_source|default_if_none:"-" }}</td>
                    <td class="px-4 py-4 max-w-xs text-sm text-gray-500 break-words">{{ record.summary_other|default_if_none:"-" }}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ record.year|default_if_none:"-" }}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ record.from_area|default_if_none:"-" }}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ record.to_area|default_if_none:"-" }}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ record.from_place|default_if_none:"-" }}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ record.to_place|default_if_none:"-" }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="flex items-center justify-between border-t border-gray-200 bg-white px-4 py-3 sm:px-6">
        <div class="flex justify-between flex-1 sm:hidden">
            {% if textile_records.has_previous %}
                <a href="?page={{ textile_records.previous_page_number }}" class="relative inline-flex items-center px-4 py-2 text-sm font-medium text-gray-700 bg-white border border-gray-300 rounded-md hover:bg-gray-50">Previous</a>
            {% endif %}
            {% if textile_records.has_next %}
                <a href="?page={{ textile_records.next_page_number }}" class="ml-3 relative inline-flex items-center px-4 py-2 text-sm font-medium text-gray-700 bg-white border border-gray-300 rounded-md hover:bg-gray-50">Next</a>
            {% endif %}
        </div>
        <div class="hidden sm:flex-1 sm:flex sm:items-center sm:justify-between">
            <div>
                <p class="text-sm text-gray-700">
                    Page <span class="font-medium">{{ textile_records.number }}</span> of <span class="font-medium">{{ textile_records.paginator.num_pages }}</span>.
                </p>
            </div>
            <div>
                <nav class="relative z-0 inline-flex rounded-md shadow-sm -space-x-px" aria-label="Pagination">
                    {% if textile_records.has_previous %}
                        <a href="?page=1" class="relative inline-flex items-center px-2 py-2 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-l-md hover:bg-gray-50">
                            <span>&laquo; First</span>
                        </a>
                        <a href="?page={{ textile_records.previous_page_number }}" class="relative inline-flex items-center px-4 py-2 text-sm font-medium text-gray-500 bg-white border border-gray-300 hover:bg-gray-50">
                            Previous
                        </a>
                    {% endif %}

                    <!-- Current Page Indicator (Optional) -->
                    <span class="relative inline-flex items-center px-4 py-2 text-sm font-medium text-gray-700 bg-gray-50 border border-gray-300">
                        {{ textile_records.number }}
                    </span>

                    {% if textile_records.has_next %}
                        <a href="?page={{ textile_records.next_page_number }}" class="relative inline-flex items-center px-4 py-2 text-sm font-medium text-gray-500 bg-white border border-gray-300 hover:bg-gray-50">
                            Next
                        </a>
                        <a href="?page={{ textile_records.paginator.num_pages }}" class="relative inline-flex items-center px-2 py-2 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-r-md hover:bg-gray-50">
                            <span>Last &raquo;</span>
                        </a>
                    {% endif %}
                </nav>
            </div>
        </div>
    </div>
{% endblock content %}
