{% extends "base.html" %}
{% load render_table from django_tables2 %}

{% block content %}
    <h1 class="text-3xl mb-4">{{ item.year }}</h1>

    <h2 class="text-xl mb-4">Summary</h2>
    <div class="font-serif text-lg mb-4">
        {% if item.summary %}
            <p class="mb-2">{{ item.summary }}</p>
        {% else  %}
            <p class="mb-2">No summary is available for this item.</p>
        {% endif %}
    </div>

    <h2 class="text-xl mb-4">Record Excerpt</h2>
    <div class="font-serif text-lg mb-4">
        <blockquote class="pl-4 border-l-2 border-red-200 italic">{{ item.transcription }}</blockquote>
        <p class="text-sm text-right">Source: {{ item.source_reference }}</p>
    </div>

{# if images are attached, display them all #}
    <h2 class="text-xl mb-4">Images</h2>
    {% if item.images.all %}
        <div class="grid grid-cols-2 gap-4">
            {% for image in item.images.all %}
                <figure>
                    <img src="{{ image.image.url }}" alt="{{ image.caption }}" class="w-full h-auto">
                    <figcaption class="text-center text-sm">{{ image.caption }}</figcaption>
                </figure>
            {% endfor %}
        </div>
    {% else %}
        <p>No images are available for this item.</p>
    {% endif %}

    <hr class="my-8">

    <div class="bg-gray-50 p-3">
        <h3 class="text-lg mb-4">Item Data</h3>
        <div>
            <p class="text-base">Textile type: {{ item.textile_type }}</p>
            <p class="text-base">Textile sub-type: {{ item.textile_subtype }}</p>
            <p class="text-base">Subject type: {{ item.subject_type }}</p>
            <p class="text-base">Subject sub-type: {{ item.subject_subtype }}</p>
        </div>
        <div>
            <p class="text-base">Circulation: {{ item.circulation }}</p>
            <p class="text-base">Source type: {{ item.source_type }}</p>
            <p class="text-base">Year: {{ item.year }}</p>
            <p class="text-base">Reference: {{ item.source_reference }}</p>
        </div>
    </div>
{% endblock content %}
