{% extends 'base_exhibit.html' %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block title %}{{ page.title }}{% endblock title %}

{% block content %}
  <div class="flex flex-col lg:flex-row min-h-screen">
    <!-- Left Column: Content -->
    <div class="lg:w-2/3 flex flex-col justify-between overflow-y-auto h-screen">
      <div class="prose p-8 flex-grow">
        <h1>{{ page.title }}</h1>
        <div class="text-justify">
          {{ page.body|richtext }}
        </div>
      </div>
      <footer class="bg-gray-200 text-white p-4">
        <div class="container mx-auto">
          <div class="flex justify-center items-center mb-4 space-x-4">
            {% if page.link_to_next_page %}
              <a href="{% pageurl page.link_to_next_page %}" class="bg-slate-500 hover:bg-slate-700 text-white font-bold py-2 px-4 rounded">
                Next
              </a>
            {% elif page.is_end_of_exhibit %}
              <a href="{% pageurl page.get_parent %}" class="bg-slate-500 hover:bg-slate-700 text-white font-bold py-2 px-4 rounded">
                Take me to the beginning
              </a>
            {% endif %}
            {% if page.link_to_previous_page %}
              <a href="{% pageurl page.link_to_previous_page %}" class="bg-slate-500 hover:bg-slate-700 text-white font-bold py-2 px-4 rounded">
                Previous
              </a>
            {% endif %}
            <a href="/#exhibits" class="bg-slate-500 hover:bg-slate-700 text-white font-bold py-2 px-4 rounded">
              Take me to the beginning
            </a>
          </div>
        </div>
      </footer>
    </div>
    <!-- Right Column: Image -->
    <div class="lg:w-1/3">
      {% if page.image %}
        {% image page.image original class="w-full h-screen object-cover" %}
        {% if page.image_caption %}
          <div class="absolute bottom-0 left-0 bg-black bg-opacity-50 text-white p-2">
            {{ page.image_caption }}
          </div>
        {% endif %}
      {% endif %}

      {% for item in page.gallery_images.all %}
        <div style="float: inline-start; margin: 10px">
          {% image item.image fill-320x240 %}
          <p>{{ item.caption }}</p>
        </div>
      {% endfor %}

      {% if page.image_comparisons.all %}
        {% for comparison in page.image_comparisons.all %}
          {% image comparison.first_image original as img1 %}
          {% image comparison.second_image original as img2 %}
          <div class="image-comparison">
            <img-comparison-slider class="slider-with-animated-handle">
              <img slot="first" width="100%" src="{{ img1.url }}">
              <img slot="second" width="100%" src="{{ img2.url }}">
              <svg slot="handle" class="custom-animated-handle" xmlns="http://www.w3.org/2000/svg" width="100" viewBox="-8 -3 16 6">
                <path stroke="#fff" d="M -5 -2 L -7 0 L -5 2 M -5 -2 L -5 2 M 5 -2 L 7 0 L 5 2 M 5 -2 L 5 2" stroke-width="1" fill="#fff" vector-effect="non-scaling-stroke"></path>
              </svg>
              </img-comparison-slider>
            </div>
        {% endfor %}
      {% endif %}

      {% with tags=page.tags.all %}
        {% if tags %}
          <div class="tags">
            <h3>Tags</h3>
            {% for tag in tags %}
              <a href="{% slugurl 'tags' %}?tag={{ tag }}"><button type="button">{{ tag }}</button></a>
            {% endfor %}
          </div>
        {% endif %}
      {% endwith %}

      {% if page.image_comparisons.all %}
        <h3>image slider test</h3>
        <script
          defer
          src="https://cdn.jsdelivr.net/npm/img-comparison-slider@8/dist/index.js"
        ></script>
        <link
          rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/img-comparison-slider@8/dist/styles.css"
        />
      {% endif %}
    </div>
  </div>
{% endblock content %}