{% extends 'base_exhibit.html' %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block title %}Connecting Threads | {{ page.title }}{% endblock title %}

{% block content %}
  <div class="flex flex-col lg:flex-row min-h-screen">
  <!-- Left Column: Image -->
  {# ================= image, left column ======================= #}
    {% if page.layout == 'left_image_one_third' %}
      <div class="lg:w-1/3">
        {% if page.image_comparisons.all %}
          {% for comparison in page.image_comparisons.all %}
            {% image comparison.first_image original as img1 %}
            {% image comparison.second_image original as img2 %}
            <div class="relative w-full h-screen">
              <img-comparison-slider class="w-full h-full">
                <img slot="first" class="object-scale-down h-screen m-auto" src="{{ img1.url }}" loading="lazy">
                <img slot="second" class="object-scale-down h-screen m-auto" src="{{ img2.url }}" loading="lazy">
                <svg slot="handle" class="custom-animated-handle" xmlns="http://www.w3.org/2000/svg" width="100"
                     viewBox="-8 -3 16 6">
                  <path stroke="#fff" d="M -5 -2 L -7 0 L -5 2 M -5 -2 L -5 2 M 5 -2 L 7 0 L 5 2 M 5 -2 L 5 2" stroke-width="1"
                        fill="#fff" vector-effect="non-scaling-stroke"></path>
                </svg>
                </img-comparison-slider>
              </div>
          {% endfor %}
          <script defer src="https://cdn.jsdelivr.net/npm/img-comparison-slider@8/dist/index.js"></script>
          <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/img-comparison-slider@8/dist/styles.css" />
        {% elif page.image %}
          {% image page.image original class="w-full h-screen object-cover" %}
          <div x-data="{ openCaption: false, openImage: false }" class="absolute top-0 left-0 m-4 hidden md:block">
            <div class="flex justify-end space-x-2" :class="{ 'hidden': openCaption || openImage }" x-transition x-cloak>
              <button @click="openCaption = true"
                      class="bg-slate-500 bg-opacity-50 hover:bg-opacity-100 hover:bg-slate-700 text-white text-sm font-bold py-2 px-4 rounded">
                Caption
              </button>
              <button @click="openImage = true" class="bg-slate-500 bg-opacity-50 hover:bg-opacity-100 hover:bg-slate-700 text-white text-sm font-bold py-2 px-4 rounded">
                View Full Image
              </button>
            </div>
            <div :class="{ 'hidden': !openCaption }" x-transition x-cloak
                 class="mt-2 p-4 bg-gray-900 text-white rounded shadow-lg w-64 relative">
              <button @click="openCaption = false" class="absolute top-2 right-2 text-white">
                &times;
              </button>
              <p class="text-sm">
                {{ page.image_caption }}
              </p>
            </div>
            <div :class="{ 'hidden': !openImage }" x-transition x-cloak
                 class="fixed inset-0 bg-black bg-opacity-75 flex items-center justify-center z-50">
              <div class="relative bg-white p-4 rounded shadow-lg w-11/12 lg:w-3/4 max-h-screen overflow-y-auto">
                <button @click="openImage = false" class="absolute top-2 right-2 text-black">
                  <span
                    class="bg-slate-700 hover:bg-red-800 rounded p-2 flex items-center justify-center w-8 h-8 text-white">&times;</span>
                </button>
                <div class="flex justify-center items-center overflow-hidden">
                  {% image page.image original class="w-auto max-h-[80vh]" %}
                </div>
                <p class="text-sm mt-2 text-center">
                  {{ page.image_caption }}
                </p>
              </div>
            </div>
          </div>
        {% endif %}

        {% for item in page.gallery_images.all %}
          <div style="float: inline-start; margin: 10px">
            {% image item.image fill-320x240 %}
            <p>{{ item.caption }}</p>
          </div>
        {% endfor %}
      </div>
  <!-- Right Column: Content -->
      <div class="lg:w-2/3 flex flex-col justify-between overflow-y-auto h-screen">
        <div class="prose p-8 flex-grow">
          {% if page.display_title %}
            <h1>{{ page.title }}</h1>
          {% endif %}
          <div class="text-justify">
            {{ page.body|richtext }}
          </div>
        </div>

        <footer class="p-4">
          <div class="container mx-auto">
            <div class="flex flex-col items-center mb-2 space-y-2">
              <div class="flex space-x-2">
                {% if page.link_to_previous_page %}
                  <a href="{% pageurl page.link_to_previous_page %}" class="bg-slate-500 hover:bg-slate-700 text-white font-bold py-1 px-3 rounded-full text-sm">
                    Previous
                  </a>
                {% endif %}
                {% if page.link_to_next_page %}
                  <a href="{% pageurl page.link_to_next_page %}" class="bg-slate-500 hover:bg-slate-700 text-white font-bold py-1 px-3 rounded-full text-sm">
                    Next
                  </a>
                {% endif %}
              </div>
              <div class="flex flex-col items-center space-y-2">
                {% if page.link_to_subsection %}
                  <a href="{% pageurl page.link_to_subsection %}" class="bg-slate-500 hover:bg-slate-700 text-white font-bold py-1 px-3 rounded-full text-sm">
                    Skip to next section
                  </a>
                {% endif %}
                <a href="/#exhibits" class="bg-slate-500 hover:bg-slate-700 text-white font-bold py-1 px-3 rounded-full text-sm">
                  Take me to the beginning
                </a>
              </div>
            </div>
          </div>
        </footer>
      </div>
      </div>

{# ================== one third, image right =================== #}

    {% elif page.layout == 'right_image_one_third' %}
<!-- Right Image One Third Layout -->
      <div class="flex flex-wrap lg:flex-nowrap"></div>
  <!-- Left Column: Content -->
      <div class="lg:w-2/3 flex flex-col justify-between overflow-y-auto h-screen">
        <div class="prose p-8 flex-grow">
          {% if page.display_title %}
            <h1>{{ page.title }}</h1>
          {% endif %}
          <div class="text-justify">
            {{ page.body|richtext }}
          </div>
        </div>
        <footer class="p-4">
          <div class="container mx-auto">
            <div class="flex flex-col items-center mb-2 space-y-2">
              <div class="flex space-x-2">
                {% if page.link_to_previous_page %}
                  <a href="{% pageurl page.link_to_previous_page %}" class="bg-slate-500 hover:bg-slate-700 text-white font-bold py-1 px-3 rounded-full text-sm">
                    Previous
                  </a>
                {% endif %}
                {% if page.link_to_next_page %}
                  <a href="{% pageurl page.link_to_next_page %}" class="bg-slate-500 hover:bg-slate-700 text-white font-bold py-1 px-3 rounded-full text-sm">
                    Next
                  </a>
                {% endif %}
              </div>
              <div class="flex flex-col items-center space-y-2">
                {% if page.link_to_subsection %}
                  <a href="{% pageurl page.link_to_subsection %}" class="bg-slate-500 hover:bg-slate-700 text-white font-bold py-1 px-3 rounded-full text-sm">
                    Skip to next section
                  </a>
                {% endif %}
                <a href="/#exhibits" class="bg-slate-500 hover:bg-slate-700 text-white font-bold py-1 px-3 rounded-full text-sm">
                  Take me to the beginning
                </a>
              </div>
            </div>
          </div>
        </footer>
      </div>

  <!-- Right Column: Image -->
      <div class="lg:w-1/3 relative">
        {% if page.image_comparisons.all %}
          {% for comparison in page.image_comparisons.all %}
            {% image comparison.first_image original as img1 %}
            {% image comparison.second_image original as img2 %}
            <div class="relative w-full h-screen">
              <img-comparison-slider class="w-full h-full">
                <img slot="first" class="object-scale-down h-screen m-auto" src="{{ img1.url }}" loading="lazy">
                <img slot="second" class="object-scale-down h-screen m-auto" src="{{ img2.url }}" loading="lazy">
                <svg slot="handle" class="custom-animated-handle" xmlns="http://www.w3.org/2000/svg" width="100" viewBox="-8 -3 16 6">
                  <path stroke="#fff" d="M -5 -2 L -7 0 L -5 2 M -5 -2 L -5 2 M 5 -2 L 7 0 L 5 2 M 5 -2 L 5 2" stroke-width="1" fill="#fff" vector-effect="non-scaling-stroke"></path>
                </svg>
                </img-comparison-slider>
              </div>
          {% endfor %}
          <script defer src="https://cdn.jsdelivr.net/npm/img-comparison-slider@8/dist/index.js"></script>
          <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/img-comparison-slider@8/dist/styles.css" />
        {% elif page.image %}
          <div class="relative w-full h-screen">
            {% image page.image original class="w-full h-full object-cover" %}
            <div x-data="{ openCaption: false, openImage: false }" class="absolute top-0 right-0 m-4 hidden md:block">
              <div class="flex justify-end space-x-2" :class="{ 'hidden': openCaption || openImage }" x-transition x-cloak>
                <button @click="openCaption = true" class="bg-slate-500 bg-opacity-50 hover:bg-opacity-100 hover:bg-slate-700 text-white text-sm font-bold py-2 px-4 rounded">
                  Caption
                </button>
                <button @click="openImage = true" class="bg-slate-500 bg-opacity-50 hover:bg-opacity-100 hover:bg-slate-700 text-white text-sm font-bold py-2 px-4 rounded">
                  View Full Image
                </button>
              </div>
              <div :class="{ 'hidden': !openCaption }" x-transition x-cloak class="mt-2 p-4 bg-gray-900 text-white rounded shadow-lg w-64 relative">
                <button @click="openCaption = false" class="absolute top-2 right-2 text-white">
                  &times;
                </button>
                <p class="text-sm">
                  {{ page.image_caption }}
                </p>
              </div>
              <div :class="{ 'hidden': !openImage }" x-transition x-cloak class="fixed inset-0 bg-black bg-opacity-75 flex items-center justify-center z-50">
                <div class="relative bg-white p-4 rounded shadow-lg w-11/12 lg:w-3/4 max-h-screen overflow-y-auto">
                  <button @click="openImage = false" class="absolute top-2 right-2 text-black">
                    <span class="bg-slate-700 hover:bg-red-800 rounded p-2 flex items-center justify-center w-8 h-8 text-white">&times;</span>
                  </button>
                  <div class="flex justify-center items-center overflow-hidden">
                    {% image page.image original class="w-auto max-h-[80vh]" %}
                  </div>
                  <p class="text-sm mt-2 text-center">
                    {{ page.image_caption }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        {% endif %}

        {% for item in page.gallery_images.all %}
          <div style="float: inline-start; margin: 10px">
            {% image item.image fill-320x240 %}
            <p>{{ item.caption }}</p>
          </div>
        {% endfor %}
      </div>
      </div>

{# ============ three column, images left ======================= #}

    {% elif page.layout == 'three_column_images_left' %}
      <div class="flex flex-wrap">
        <div class="w-full lg:w-1/3 relative">
          {% if page.image_first_column %}
            {% image page.image_first_column original class="w-full h-full object-contain" %}
            <div x-data="{ openCaption: false, openImage: false }" class="absolute top-0 left-0 m-4 hidden md:block">
              <div class="flex justify-end space-x-2" :class="{ 'hidden': openCaption || openImage }" x-transition x-cloak>
                <button @click="openCaption = true"
                        class="bg-slate-500 bg-opacity-50 hover:bg-opacity-100 hover:bg-slate-700 text-white text-sm font-bold py-2 px-4 rounded">
                  Caption
                </button>
                <button @click="openImage = true" class="bg-slate-500 bg-opacity-50 hover:bg-opacity-100 hover:bg-slate-700 text-white text-sm font-bold py-2 px-4 rounded">
                  View Full Image
                </button>
              </div>
              <div :class="{ 'hidden': !openCaption }" x-transition x-cloak
                   class="mt-2 p-4 bg-gray-900 text-white rounded shadow-lg w-64 relative">
                <button @click="openCaption = false" class="absolute top-2 right-2 text-white">
                  &times;
                </button>
                <p class="text-sm">
                  {{ page.image_first_column_caption }}
                </p>
              </div>
              <div :class="{ 'hidden': !openImage }" x-transition x-cloak
                   class="fixed inset-0 bg-black bg-opacity-75 flex items-center justify-center z-50">
                <div class="relative bg-white p-4 rounded shadow-lg w-11/12 lg:w-3/4 max-h-screen overflow-y-auto">
                  <button @click="openImage = false" class="absolute top-2 right-2 text-black">
                    <span
                      class="bg-slate-700 hover:bg-red-800 rounded p-2 flex items-center justify-center w-8 h-8 text-white">&times;</span>
                  </button>
                  <div class="flex justify-center items-center overflow-hidden">
                    {% image page.image_first_column original class="w-auto max-h-[80vh]" %}
                  </div>
                  <p class="text-sm mt-2 text-center">
                    {{ page.image_first_column_caption }}
                  </p>
                </div>
              </div>
            </div>
          {% endif %}
        </div>
        <div class="w-full lg:w-1/3 relative">
          {% if page.image_second_column %}
            {% image page.image_second_column original class="w-full h-full object-contain" %}
            <div x-data="{ openCaption: false, openImage: false }" class="absolute top-0 left-0 m-4 hidden md:block">
              <div class="flex justify-end space-x-2" :class="{ 'hidden': openCaption || openImage }" x-transition x-cloak>
                <button @click="openCaption = true"
                        class="bg-slate-500 bg-opacity-50 hover:bg-opacity-100 hover:bg-slate-700 text-white text-sm font-bold py-2 px-4 rounded">
                  Caption
                </button>
                <button @click="openImage = true" class="bg-slate-500 bg-opacity-50 hover:bg-opacity-100 hover:bg-slate-700 text-white text-sm font-bold py-2 px-4 rounded">
                  View Full Image
                </button>
              </div>
              <div :class="{ 'hidden': !openCaption }" x-transition x-cloak
                   class="mt-2 p-4 bg-gray-900 text-white rounded shadow-lg w-64 relative">
                <button @click="openCaption = false" class="absolute top-2 right-2 text-white">
                  &times;
                </button>
                <p class="text-sm">
                  {{ page.image_second_column_caption }}
                </p>
              </div>
              <div :class="{ 'hidden': !openImage }" x-transition x-cloak
                   class="fixed inset-0 bg-black bg-opacity-75 flex items-center justify-center z-50">
                <div class="relative bg-white p-4 rounded shadow-lg w-11/12 lg:w-3/4 max-h-screen overflow-y-auto">
                  <button @click="openImage = false" class="absolute top-2 right-2 text-black">
                    <span
                      class="bg-slate-700 hover:bg-red-800 rounded p-2 flex items-center justify-center w-8 h-8 text-white">&times;</span>
                  </button>
                  <div class="flex justify-center items-center overflow-hidden">
                    {% image page.image_second_column original class="w-auto max-h-[80vh]" %}
                  </div>
                  <p class="text-sm mt-2 text-center">
                    {{ page.image_second_column_caption }}
                  </p>
                </div>
              </div>
            </div>
          {% endif %}
        </div>
        <div class="w-full lg:w-1/3 p-4 flex flex-col">
          <div class="prose p-8 flex-grow">
            {% if page.display_title %}
              <h1>{{ page.title }}</h1>
            {% endif %}
            <div class="text-justify">
              {{ page.body|richtext }}
            </div>
          </div>
          <footer class="p-4 mt-auto">
            <div class="container mx-auto">
              <div class="flex flex-col items-center mb-2 space-y-2">
                <div class="flex space-x-2"> <!-- TODO: DONE -->
                  {% if page.link_to_previous_page %}
                    <a href="{% pageurl page.link_to_previous_page %}"
                       class="bg-slate-500 hover:bg-slate-700 text-white font-bold py-1 px-3 rounded-full text-sm">
                      Previous
                    </a>
                  {% endif %}
                  {% if page.link_to_next_page %}
                    <a href="{% pageurl page.link_to_next_page %}"
                       class="bg-slate-500 hover:bg-slate-700 text-white font-bold py-1 px-3 rounded-full text-sm">
                      Next
                    </a>
                  {% endif %}
                </div>
                <div class="flex flex-col items-center space-y-2">
                  {% if page.link_to_subsection %}
                    <a href="{% pageurl page.link_to_subsection %}"
                       class="bg-slate-500 hover:bg-slate-700 text-white font-bold py-1 px-3 rounded-full text-sm">
                      Skip to next section
                    </a>
                  {% endif %}
                  <a href="/#exhibits"
                     class="bg-slate-500 hover:bg-slate-700 text-white font-bold py-1 px-3 rounded-full text-sm">
                    Take me to the beginning
                  </a>
                </div>
              </div>
            </div>
          </footer>
        </div>
      </div>

{# ===================== three column, images right ================== #}

    {% elif page.layout == 'three_column_images_right' %}
      <div class="flex flex-wrap">
        <div class="w-full lg:w-1/3 p-4 flex flex-col">
          <div class="prose p-8 flex-grow">
            {% if page.display_title %}
              <h1>{{ page.title }}</h1>
            {% endif %}
            <div class="text-justify">
              {{ page.body|richtext }}
            </div>
          </div>
          <footer class="p-4">
            <div class="container mx-auto">
              <div class="flex flex-col items-center mb-2 space-y-2">
                <div class="flex space-x-2"> <!-- TODO: DONE -->
                  {% if page.link_to_previous_page %}
                    <a href="{% pageurl page.link_to_previous_page %}"
                       class="bg-slate-500 hover:bg-slate-700 text-white font-bold py-1 px-3 rounded-full text-sm">
                      Previous
                    </a>
                  {% endif %}
                  {% if page.link_to_next_page %}
                    <a href="{% pageurl page.link_to_next_page %}"
                       class="bg-slate-500 hover:bg-slate-700 text-white font-bold py-1 px-3 rounded-full text-sm">
                      Next
                    </a>
                  {% endif %}
                </div>
                <div class="flex flex-col items-center space-y-2">
                  {% if page.link_to_subsection %}
                    <a href="{% pageurl page.link_to_subsection %}"
                       class="bg-slate-500 hover:bg-slate-700 text-white font-bold py-1 px-3 rounded-full text-sm">
                      Skip to next section
                    </a>
                  {% endif %}
                  <a href="/#exhibits"
                     class="bg-slate-500 hover:bg-slate-700 text-white font-bold py-1 px-3 rounded-full text-sm">
                    Take me to the beginning
                  </a>
                </div>
              </div>
            </div>
          </footer>
        </div>
        <div class="w-full lg:w-1/3 relative">
          {% if page.image_first_column %}
            {% image page.image_first_column original class="w-full h-full object-contain" %}
            <div x-data="{ openCaption: false, openImage: false }" class="absolute top-0 left-0 m-4 hidden md:block">
              <div class="flex justify-end space-x-2" :class="{ 'hidden': openCaption || openImage }" x-transition x-cloak>
                <button @click="openCaption = true"
                        class="bg-slate-500 bg-opacity-50 hover:bg-opacity-100 hover:bg-slate-700 text-white text-sm font-bold py-2 px-4 rounded">
                  Caption
                </button>
                <button @click="openImage = true" class="bg-slate-500 bg-opacity-50 hover:bg-opacity-100 hover:bg-slate-700 text-white text-sm font-bold py-2 px-4 rounded">
                  View Full Image
                </button>
              </div>
              <div :class="{ 'hidden': !openCaption }" x-transition x-cloak
                   class="mt-2 p-4 bg-gray-900 text-white rounded shadow-lg w-64 relative">
                <button @click="openCaption = false" class="absolute top-2 right-2 text-white">
                  &times;
                </button>
                <p class="text-sm">
                  {{ page.image_first_column_caption }}
                </p>
              </div>
              <div :class="{ 'hidden': !openImage }" x-transition x-cloak
                   class="fixed inset-0 bg-black bg-opacity-75 flex items-center justify-center z-50">
                <div class="relative bg-white p-4 rounded shadow-lg w-11/12 lg:w-3/4 max-h-screen overflow-y-auto">
                  <button @click="openImage = false" class="absolute top-2 right-2 text-black">
                    <span
                      class="bg-slate-700 hover:bg-red-800 rounded p-2 flex items-center justify-center w-8 h-8 text-white">&times;</span>
                  </button>
                  <div class="flex justify-center items-center overflow-hidden">
                    {% image page.image_first_column original class="w-auto max-h-[80vh]" %}
                  </div>
                  <p class="text-sm mt-2 text-center">
                    {{ page.image_first_column_caption }}
                  </p>
                </div>
              </div>
            </div>
          {% endif %}
        </div>
        <div class="w-full lg:w-1/3 relative">
          {% if page.image_second_column %}
            {% image page.image_second_column original class="w-full h-full object-contain" %}
            <div x-data="{ openCaption: false, openImage: false }" class="absolute top-0 left-0 m-4 hidden md:block">
              <div class="flex justify-end space-x-2" :class="{ 'hidden': openCaption || openImage }" x-transition x-cloak>
                <button @click="openCaption = true"
                        class="bg-slate-500 bg-opacity-50 hover:bg-opacity-100 hover:bg-slate-700 text-white text-sm font-bold py-2 px-4 rounded">
                  Caption
                </button>
                <button @click="openImage = true" class="bg-slate-500 bg-opacity-50 hover:bg-opacity-100 hover:bg-slate-700 text-white text-sm font-bold py-2 px-4 rounded">
                  View Full Image
                </button>
              </div>
              <div :class="{ 'hidden': !openCaption }" x-transition x-cloak
                   class="mt-2 p-4 bg-gray-900 text-white rounded shadow-lg w-64 relative">
                <button @click="openCaption = false" class="absolute top-2 right-2 text-white">
                  &times;
                </button>
                <p class="text-sm">
                  {{ page.image_second_column_caption }}
                </p>
              </div>
              <div :class="{ 'hidden': !openImage }" x-transition x-cloak
                   class="fixed inset-0 bg-black bg-opacity-75 flex items-center justify-center z-50">
                <div class="relative bg-white p-4 rounded shadow-lg w-11/12 lg:w-3/4 max-h-screen overflow-y-auto">
                  <button @click="openImage = false" class="absolute top-2 right-2 text-black">
                    <span
                      class="bg-slate-700 hover:bg-red-800 rounded p-2 flex items-center justify-center w-8 h-8 text-white">&times;</span>
                  </button>
                  <div class="flex justify-center items-center overflow-hidden">
                    {% image page.image_second_column original class="w-auto max-h-[80vh]" %}
                  </div>
                  <p class="text-sm mt-2 text-center">
                    {{ page.image_second_column_caption }}
                  </p>
                </div>
              </div>
            </div>
          {% endif %}
        </div>
      </div>

{# =================== two thirds, left images ========================== #}

    {% elif page.layout == 'left_image_two_thirds' %}
<!-- Left Image Two Thirds Layout -->
      <div class="lg:w-2/3">
        {% if page.image_comparisons.all %}
          {% for comparison in page.image_comparisons.all %}
            {% image comparison.first_image original as img1 %}
            {% image comparison.second_image original as img2 %}
            <div class="relative w-full h-screen">
              <img-comparison-slider class="w-full h-full">
                <img slot="first" class="object-scale-down h-screen m-auto" src="{{ img1.url }}" loading="lazy">
                <img slot="second" class="object-scale-down h-screen m-auto" src="{{ img2.url }}" loading="lazy">
                <svg slot="handle" class="custom-animated-handle" xmlns="http://www.w3.org/2000/svg" width="100"
                     viewBox="-8 -3 16 6">
                  <path stroke="#fff" d="M -5 -2 L -7 0 L -5 2 M -5 -2 L -5 2 M 5 -2 L 7 0 L 5 2 M 5 -2 L 5 2" stroke-width="1"
                        fill="#fff" vector-effect="non-scaling-stroke"></path>
                </svg>
                </img-comparison-slider>
              </div>
          {% endfor %}
          <script defer src="https://cdn.jsdelivr.net/npm/img-comparison-slider@8/dist/index.js"></script>
          <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/img-comparison-slider@8/dist/styles.css" />
        {% elif page.image %}
          {% image page.image original class="w-full h-screen object-cover" %}
          <div x-data="{ openCaption: false, openImage: false }" class="absolute top-0 left-0 m-4 hidden md:block">
            <div class="flex justify-end space-x-2" :class="{ 'hidden': openCaption || openImage }" x-transition x-cloak>
              <button @click="openCaption = true" class="bg-slate-500 bg-opacity-50 hover:bg-opacity-100 hover:bg-slate-700 text-white text-sm font-bold py-2 px-4 rounded">
                Caption
              </button>
              <button @click="openImage = true" class="bg-slate-500 bg-opacity-50 hover:bg-opacity-100 hover:bg-slate-700 text-white text-sm font-bold py-2 px-4 rounded">
                View Full Image
              </button>
            </div>
            <div :class="{ 'hidden': !openCaption }" x-transition x-cloak
                 class="mt-2 p-4 bg-gray-900 text-white rounded shadow-lg w-64 relative">
              <button @click="openCaption = false" class="absolute top-2 right-2 text-white">
                &times;
              </button>
              <p class="text-sm">
                {{ page.image_caption }}
              </p>
            </div>
            <div :class="{ 'hidden': !openImage }" x-transition x-cloak
                 class="fixed inset-0 bg-black bg-opacity-75 flex items-center justify-center z-50">
              <div class="relative bg-white p-4 rounded shadow-lg w-11/12 lg:w-3/4 max-h-screen overflow-y-auto">
                <button @click="openImage = false" class="absolute top-2 right-2 text-black">
                  <span
                    class="bg-slate-700 hover:bg-red-800 rounded p-2 flex items-center justify-center w-8 h-8 text-white">&times;</span>
                </button>
                <div class="flex justify-center items-center overflow-hidden">
                  {% image page.image original class="w-auto max-h-[80vh]" %}
                </div>
                <p class="text-sm mt-2 text-center">
                  {{ page.image_caption }}
                </p>
              </div>
            </div>
          </div>
        {% endif %}

        {% for item in page.gallery_images.all %}
          <div style="float: inline-start; margin: 10px">
            {% image item.image fill-320x240 %}
            <p>{{ item.caption }}</p>
          </div>
        {% endfor %}
      </div>
<!-- Right Column: Content -->
      <div class="lg:w-1/3 flex flex-col justify-between overflow-y-auto h-screen">
        <div class="prose p-8 flex-grow">
          {% if page.display_title %}
            <h1>{{ page.title }}</h1>
          {% endif %} <div class="text-justify">
            {{ page.body|richtext }}
          </div>
        </div>

        <footer class="p-4">
          <div class="container mx-auto">
            <div class="flex flex-col items-center mb-2 space-y-2">
              <div class="flex space-x-2">
                {% if page.link_to_previous_page %}
                  <a href="{% pageurl page.link_to_previous_page %}" class="bg-slate-500 hover:bg-slate-700 text-white font-bold py-1 px-3 rounded-full text-sm">
                    Previous
                  </a>
                {% endif %}
                {% if page.link_to_next_page %}
                  <a href="{% pageurl page.link_to_next_page %}" class="bg-slate-500 hover:bg-slate-700 text-white font-bold py-1 px-3 rounded-full text-sm">
                    Next
                  </a>
                {% endif %}
              </div>
              <div class="flex flex-col items-center space-y-2">
                {% if page.link_to_subsection %}
                  <a href="{% pageurl page.link_to_subsection %}" class="bg-slate-500 hover:bg-slate-700 text-white font-bold py-1 px-3 rounded-full text-sm">
                    Skip to next section
                  </a>
                {% endif %}
                <a href="/#exhibits" class="bg-slate-500 hover:bg-slate-700 text-white font-bold py-1 px-3 rounded-full text-sm">
                  Take me to the beginning
                </a>
              </div>
            </div>
          </div>
        </footer>
      </div>
    {% elif page.layout == 'right_image_two_thirds' %}
<!-- Right Image Two Thirds Layout -->
      <div class="lg:w-1/3 flex flex-col justify-between overflow-y-auto h-screen">
        <div class="prose p-8 flex-grow">
          {% if page.display_title %}
            <h1>{{ page.title }}</h1>
          {% endif %} <div class="text-justify">
            {{ page.body|richtext }}
          </div>
        </div>
        <footer class="p-4">
          <div class="container mx-auto">
            <div class="flex flex-col items-center mb-2 space-y-2">
              <div class="flex space-x-2">
                {% if page.link_to_previous_page %}
                  <a href="{% pageurl page.link_to_previous_page %}" class="bg-slate-500 hover:bg-slate-700 text-white font-bold py-1 px-3 rounded-full text-sm">
                    Previous
                  </a>
                {% endif %}
                {% if page.link_to_next_page %}
                  <a href="{% pageurl page.link_to_next_page %}" class="bg-slate-500 hover:bg-slate-700 text-white font-bold py-1 px-3 rounded-full text-sm">
                    Next
                  </a>
                {% endif %}
              </div>
              <div class="flex flex-col items-center space-y-2">
                {% if page.link_to_subsection %}
                  <a href="{% pageurl page.link_to_subsection %}" class="bg-slate-500 hover:bg-slate-700 text-white font-bold py-1 px-3 rounded-full text-sm">
                    Skip to next section
                  </a>
                {% endif %}
                <a href="/#exhibits" class="bg-slate-500 hover:bg-slate-700 text-white font-bold py-1 px-3 rounded-full text-sm">
                  Take me to the beginning
                </a>
              </div>
            </div>
          </div>
        </footer>
      </div>
<!-- Right Column: Image -->
      <div class="lg:w-2/3">
        {% if page.image_comparisons.all %}
          {% for comparison in page.image_comparisons.all %}
            {% image comparison.first_image original as img1 %}
            {% image comparison.second_image original as img2 %}
            <div class="relative w-full h-screen">
              <img-comparison-slider class="w-full h-full">
                <img slot="first" class="object-scale-down h-screen m-auto" src="{{ img1.url }}" loading="lazy">
                <img slot="second" class="object-scale-down h-screen m-auto" src="{{ img2.url }}" loading="lazy">
                <svg slot="handle" class="custom-animated-handle" xmlns="http://www.w3.org/2000/svg" width="100"
                     viewBox="-8 -3 16 6">
                  <path stroke="#fff" d="M -5 -2 L -7 0 L -5 2 M -5 -2 L -5 2 M 5 -2 L 7 0 L 5 2 M 5 -2 L 5 2" stroke-width="1"
                        fill="#fff" vector-effect="non-scaling-stroke"></path>
                </svg>
                </img-comparison-slider>
              </div>
          {% endfor %}
          <script defer src="https://cdn.jsdelivr.net/npm/img-comparison-slider@8/dist/index.js"></script>
          <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/img-comparison-slider@8/dist/styles.css" />
        {% elif page.image %}
          {% if page.image_zoomable %}
            <div id="zoom_image" class="w-full h-screen"></div>
          {% else %}
            {% image page.image original class="w-full h-screen object-cover" %}
            <div x-data="{ openCaption: false, openImage: false }" class="absolute top-0 right-0 m-4 hidden md:block">
              <div class="flex justify-end space-x-2" :class="{ 'hidden': openCaption || openImage }" x-transition x-cloak>
                <button @click="openCaption = true" class="bg-slate-500 bg-opacity-50 hover:bg-opacity-100 hover:bg-slate-700 text-white text-sm font-bold py-2 px-4 rounded">
                  Caption
                </button>
                <button @click="openImage = true" class="bg-slate-500 bg-opacity-50 hover:bg-opacity-100 hover:bg-slate-700 text-white text-sm font-bold py-2 px-4 rounded">
                  View Full Image
                </button>
              </div>
              <div :class="{ 'hidden': !openCaption }" x-transition x-cloak
                   class="mt-2 p-4 bg-gray-900 text-white rounded shadow-lg w-64 relative">
                <button @click="openCaption = false" class="absolute top-2 right-2 text-white">
                  &times;
                </button>
                <p class="text-sm">
                  {{ page.image_caption }}
                </p>
              </div>
              <div :class="{ 'hidden': !openImage }" x-transition x-cloak
                   class="fixed inset-0 bg-black bg-opacity-75 flex items-center justify-center z-50">
                <div class="relative bg-white p-4 rounded shadow-lg w-11/12 lg:w-3/4 max-h-screen overflow-y-auto">
                  <button @click="openImage = false" class="absolute top-2 right-2 text-black">
                    <span
                      class="bg-slate-700 hover:bg-red-800 rounded p-2 flex items-center justify-center w-8 h-8 text-white">&times;</span>
                  </button>
                  <div class="overflow-hidden">
                    {% image page.image original class="w-auto max-h-[80vh]" %}
                  </div>
                  <p class="text-sm mt-2 text-center">
                    {{ page.image_caption }}
                  </p>
                </div>
              </div>
            </div>
          {% endif %}
        {% endif %}

        {% for item in page.gallery_images.all %}
          <div style="float: inline-start; margin: 10px">
            {% image item.image fill-320x240 %}
            <p>{{ item.caption }}</p>
          </div>
        {% endfor %}
      </div>
    {% elif page.layout == 'half_and_half' %}
<!-- Half and Half Layout -->
      <div class="lg:w-1/2 flex flex-col justify-between overflow-y-auto h-screen">
        <div class="prose p-8 flex-grow">
          {% if page.display_title %}
            <h1>{{ page.title }}</h1>
          {% endif %}
          <div class="text-justify">
            {{ page.body|richtext }}
          </div>
        </div>
        <footer class="p-4 mt-auto">
          <div class="container mx-auto">
            <div class="flex flex-col items-center mb-2 space-y-2">
              <div class="flex space-x-2">
                {% if page.link_to_previous_page %}
                  <a href="{% pageurl page.link_to_previous_page %}"
                     class="bg-slate-500 hover:bg-slate-700 text-white font-bold py-1 px-3 rounded-full text-sm">
                    Previous
                  </a>
                {% endif %}
                {% if page.link_to_next_page %}
                  <a href="{% pageurl page.link_to_next_page %}"
                     class="bg-slate-500 hover:bg-slate-700 text-white font-bold py-1 px-3 rounded-full text-sm">
                    Next
                  </a>
                {% endif %}
              </div>
              <div class="flex flex-col items-center space-y-2">
                <a href="/#exhibits"
                   class="bg-slate-500 hover:bg-slate-700 text-white font-bold py-1 px-3 rounded-full text-sm">
                  Take me to the beginning
                </a>
                {% if page.link_to_subsection %}
                  <a href="{% pageurl page.link_to_subsection %}"
                     class="bg-slate-500 hover:bg-slate-700 text-white font-bold py-1 px-3 rounded-full text-sm">
                    Skip to next section
                  </a>
                {% endif %}
              </div>
            </div>
          </div>
        </footer>
      </div>
<!-- Right Column: Image -->
      <div class="lg:w-1/2">
        {% if page.image_comparisons.all %}
          {% for comparison in page.image_comparisons.all %}
            {% image comparison.first_image original as img1 %}
            {% image comparison.second_image original as img2 %}
            <div class="relative w-full h-screen">
              <img-comparison-slider class="w-full h-full">
                <img slot="first" class="object-scale-down h-screen m-auto" src="{{ img1.url }}" loading="lazy">
                <img slot="second" class="object-scale-down h-screen m-auto" src="{{ img2.url }}" loading="lazy">
                <svg slot="handle" class="custom-animated-handle" xmlns="http://www.w3.org/2000/svg" width="100"
                     viewBox="-8 -3 16 6">
                  <path stroke="#fff" d="M -5 -2 L -7 0 L -5 2 M -5 -2 L -5 2 M 5 -2 L 7 0 L 5 2 M 5 -2 L 5 2" stroke-width="1"
                        fill="#fff" vector-effect="non-scaling-stroke"></path>
                </svg>
                </img-comparison-slider>
              </div>
          {% endfor %}
          <script defer src="https://cdn.jsdelivr.net/npm/img-comparison-slider@8/dist/index.js"></script>
          <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/img-comparison-slider@8/dist/styles.css" />
        {% elif page.image %}
          {% image page.image original class="w-full h-screen object-cover" %}
          <div x-data="{ openCaption: false, openImage: false }" class="absolute top-0 right-0 m-4 hidden md:block">
            <div class="flex justify-end space-x-2" :class="{ 'hidden': openCaption || openImage }" x-transition x-cloak>
              <button @click="openCaption = true" class="bg-slate-500 bg-opacity-50 hover:bg-opacity-100 hover:bg-slate-700 text-white text-sm font-bold py-2 px-4 rounded">
                Caption
              </button>
              <button @click="openImage = true" class="bg-slate-500 bg-opacity-50 hover:bg-opacity-100 hover:bg-slate-700 text-white text-sm font-bold py-2 px-4 rounded">
                View Full Image
              </button>
            </div>
            <div :class="{ 'hidden': !openCaption }" x-transition x-cloak
                 class="mt-2 p-4 bg-gray-900 text-white rounded shadow-lg w-64 relative">
              <button @click="openCaption = false" class="absolute top-2 right-2 text-white">
                &times;
              </button>
              <p class="text-sm">
                {{ page.image_caption }}
              </p>
            </div>
            <div :class="{ 'hidden': !openImage }" x-transition x-cloak
                 class="fixed inset-0 bg-black bg-opacity-75 flex items-center justify-center z-50">
              <div class="relative bg-white p-4 rounded shadow-lg w-11/12 lg:w-3/4 max-h-screen overflow-y-auto">
                <button @click="openImage = false" class="absolute top-2 right-2 text-black">
                  <span
                    class="bg-slate-700 hover:bg-red-800 rounded p-2 flex items-center justify-center w-8 h-8 text-white">&times;</span>
                </button>
                <div class="flex justify-center items-center overflow-hidden">
                  {% image page.image original class="w-auto max-h-[80vh]" %}
                </div>
                <p class="text-sm mt-2 text-center">
                  {{ page.image_caption }}
                </p>
              </div>
            </div>
          </div>
        {% endif %}

        {% for item in page.gallery_images.all %}
          <div style="float: inline-start; margin: 10px">
            {% image item.image fill-320x240 %}
            <p>{{ item.caption }}</p>
          </div>
        {% endfor %}
      </div>
    {% elif page.layout == 'full_screen' %}
<!-- Full Screen Layout -->
      <div class="relative w-full h-screen">
        {% if page.image_comparisons.all %}
          {% for comparison in page.image_comparisons.all %}
            {% image comparison.first_image original as img1 %}
            {% image comparison.second_image original as img2 %}
            <div class="relative w-full h-screen">
              <img-comparison-slider class="w-full h-full">
                <img slot="first" class="w-full h-full object-cover" src="{{ img1.url }}" loading="lazy">
                <img slot="second" class="w-full h-full object-cover" src="{{ img2.url }}" loading="lazy">
                <svg slot="handle" class="custom-animated-handle" xmlns="http://www.w3.org/2000/svg" width="100"
                     viewBox="-8 -3 16 6">
                  <path stroke="#fff" d="M -5 -2 L -7 0 L -5 2 M -5 -2 L -5 2 M 5 -2 L 7 0 L 5 2 M 5 -2 L 5 2" stroke-width="1"
                        fill="#fff" vector-effect="non-scaling-stroke"></path>
                </svg>
                </img-comparison-slider>
              </div>
          {% endfor %}
          <script defer src="https://cdn.jsdelivr.net/npm/img-comparison-slider@8/dist/index.js"></script>
          <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/img-comparison-slider@8/dist/styles.css" />
        {% elif page.image %}
          {% image page.image original class="w-full h-screen object-cover" %}
          {% if page.image_caption %}
            <div x-data="{ open: false }" class="fixed top-0 right-0 m-4 hidden md:block z-50">
              <div class="flex justify-end" :class="{ 'hidden': open }" x-transition x-cloak>
                <button @click="open = true" class="bg-slate-500 bg-opacity-50 hover:bg-opacity-100 hover:bg-slate-700 text-white text-sm font-bold py-2 px-4 rounded">
                  Caption
                </button>
              </div>
              <div :class="{ 'hidden': !open }" x-transition x-cloak
                   class="mt-2 p-4 bg-gray-900 text-white rounded shadow-lg w-64 relative z-50">
                <button @click="open = false" class="absolute top-2 right-2 text-white z-50">
                  &times;
                </button>
                <p class="text-sm">
                  {{ page.image_caption }}
                </p>
              </div>
            </div>
          {% endif %}
        {% endif %}
      </div>

      {% for item in page.gallery_images.all %}
        <div style="float: inline-start; margin: 10px">
          {% image item.image fill-320x240 %}
          <p>{{ item.caption }}</p>
        </div>
      {% endfor %}
      <div class="absolute inset-0 flex items-center justify-center">
        <div class="bg-white bg-opacity-90 p-8 rounded shadow-lg max-w-3xl mx-auto">
          {% if page.display_title %}
            <h1>{{ page.title }}</h1>
          {% endif %} <div class="prose text-justify">
            {{ page.body|richtext }}
          </div>
        </div>
      </div>
      <div class="absolute bottom-0 left-0 w-full p-4">
        <div class="flex flex-col items-center mb-2 space-y-2">
          <div class="flex space-x-2"> <!-- TODO: DONE -->
            {% if page.link_to_previous_page %}
              <a href="{% pageurl page.link_to_previous_page %}"
                 class="bg-slate-500 hover:bg-slate-700 text-white font-bold py-1 px-3 rounded-full text-sm">
                Previous
              </a>
            {% endif %}
            {% if page.link_to_next_page %}
              <a href="{% pageurl page.link_to_next_page %}"
                 class="bg-slate-500 hover:bg-slate-700 text-white font-bold py-1 px-3 rounded-full text-sm">
                Next
              </a>
            {% endif %}
          </div>
          <div class="flex flex-col items-center space-y-2">
            {% if page.link_to_subsection %}
              <a href="{% pageurl page.link_to_subsection %}"
                 class="bg-slate-500 hover:bg-slate-700 text-white font-bold py-1 px-3 rounded-full text-sm">
                Skip to next section
              </a>
            {% endif %}
            <a href="/#exhibits" class="bg-slate-500 hover:bg-slate-700 text-white font-bold py-1 px-3 rounded-full text-sm">
              Take me to the beginning
            </a>
          </div>
        </div>
      </div>
      </div>
    {% elif page.layout == 'wide_image' %}
<!-- Wide Image Layout -->
      <div class="w-full min-h-screen flex flex-col">
        <div class="prose p-8 mx-auto max-w-screen-xl flex-grow">
          {% if page.display_title %}
            <h1>{{ page.title }}</h1>
          {% endif %} <div class="text-justify">
            {{ page.body|richtext }}
          </div>
        </div>
        {% if page.image_comparisons.all %}
          {% for comparison in page.image_comparisons.all %}
            {% image comparison.first_image original as img1 %}
            {% image comparison.second_image original as img2 %}
            <div class="relative w-full h-screen">
              <img-comparison-slider class="w-full h-full">
                <img slot="first" class="w-full h-full object-cover" src="{{ img1.url }}" loading="lazy">
                <img slot="second" class="w-full h-full object-cover" src="{{ img2.url }}" loading="lazy">
                <svg slot="handle" class="custom-animated-handle" xmlns="http://www.w3.org/2000/svg" width="100"
                     viewBox="-8 -3 16 6">
                  <path stroke="#fff" d="M -5 -2 L -7 0 L -5 2 M -5 -2 L -5 2 M 5 -2 L 7 0 L 5 2 M 5 -2 L 5 2" stroke-width="1"
                        fill="#fff" vector-effect="non-scaling-stroke"></path>
                </svg>
                </img-comparison-slider>
              </div>
          {% endfor %}
          <script defer src="https://cdn.jsdelivr.net/npm/img-comparison-slider@8/dist/index.js"></script>
          <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/img-comparison-slider@8/dist/styles.css" />
        {% elif page.image %}
          {% image page.image original class="w-full max-h-[80vh] object-contain" %}
          <div x-data="{ openCaption: false, openImage: false }" class="absolute top-0 right-0 m-4 hidden md:block">
            <div class="flex justify-end space-x-2" :class="{ 'hidden': openCaption || openImage }" x-transition x-cloak>
              {% if page.image_caption %}
                <button @click="openCaption = true" class="bg-slate-500 bg-opacity-50 hover:bg-opacity-100 hover:bg-slate-700 text-white text-sm font-bold py-2 px-4 rounded">
                  Caption
                </button>
              {% endif %}
              <button @click="openImage = true" class="bg-slate-500 bg-opacity-50 hover:bg-opacity-100 hover:bg-slate-700 text-white text-sm font-bold py-2 px-4 rounded">
                View Full Image
              </button>
            </div>
            {% if page.image_caption %}
              <div :class="{ 'hidden': !openCaption }" x-transition x-cloak
                   class="mt-2 p-4 bg-gray-900 text-white rounded shadow-lg w-64 relative">
                <button @click="openCaption = false" class="absolute top-2 right-2 text-white">
                  &times;
                </button>
                <p class="text-sm">
                  {{ page.image_caption }}
                </p>
              </div>
            {% endif %}
            <div :class="{ 'hidden': !openImage }" x-transition x-cloak
                 class="fixed inset-0 bg-black bg-opacity-75 flex items-center justify-center z-50">
              <div class="relative bg-white p-4 rounded shadow-lg w-11/12 lg:w-3/4 max-h-screen overflow-y-auto">
                <button @click="openImage = false" class="absolute top-2 right-2 text-black">
                  <span class="bg-slate-700 hover:bg-red-800 rounded p-2 flex items-center justify-center w-8 h-8 text-white">&times;</span>
                </button>
                <div class="flex justify-center items-center overflow-hidden">
                  {% image page.image original class="w-auto max-h-[80vh]" %}
                </div>
                {% if page.image_caption %}
                  <p class="text-sm mt-2 text-center">
                    {{ page.image_caption }}
                  </p>
                {% endif %}
              </div>
            </div>
          </div>
          <div class="absolute top-0 right-0 m-4 hidden md:block mt-16">
            <div class="flex flex-col items-center mb-2 space-y-2">
              <div class="flex space-x-2">
                {% if page.link_to_previous_page %}
                  <a href="{% pageurl page.link_to_previous_page %}"
                     class="bg-slate-500 hover:bg-slate-700 text-white font-bold py-1 px-3 rounded-full text-sm">
                    Previous
                  </a>
                {% endif %}
                {% if page.link_to_next_page %}
                  <a href="{% pageurl page.link_to_next_page %}"
                     class="bg-slate-500 hover:bg-slate-700 text-white font-bold py-1 px-3 rounded-full text-sm">
                    Next
                  </a>
                {% endif %}
              </div>
              <div class="flex flex-col items-center space-y-2">
                <a href="/#exhibits"
                   class="bg-slate-500 hover:bg-slate-700 text-white font-bold py-1 px-3 rounded-full text-sm">
                  Take me to the beginning
                </a>
                {% if page.link_to_subsection %}
                  <a href="{% pageurl page.link_to_subsection %}"
                     class="bg-slate-500 hover:bg-slate-700 text-white font-bold py-1 px-3 rounded-full text-sm">
                    Skip to next section
                  </a>
                {% endif %}
              </div>
            </div>
          </div>
        {% endif %}

        {% for item in page.gallery_images.all %}
          <div style="float: inline-start; margin: 10px">
            {% image item.image fill-320x240 %}
            <p>{{ item.caption }}</p>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
{% endblock content %}

{% block extrajs %}
  {% if page.image_zoomable %}
    <script type="text/javascript" src="{% static 'js/openseadragon/openseadragon.min.js' %}"></script>
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        const imageUrl = "{{ page.image.file.url }}";
        console.log(imageUrl);
        OpenSeadragon({
          id: "zoom_image",
          tileSources: {
            type: 'image',
            url: imageUrl
          },
          prefixUrl: "{% static 'js/openseadragon/images/' %}"
        });
      });
    </script>
  {% endif %}
{% endblock extrajs %}
