{% extends 'base_exhibit.html' %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block body_class %}template-homepage{% endblock %}
{% block title %}Connecting Threads | {{page.title}}{% endblock title %}

{% block content %}
  {% image page.image original as img %}
  <div class="relative h-screen bg-cover bg-center" style="background-image: url('{{ img.url }}');">
    <div class="absolute inset-0 bg-black bg-opacity-50 flex flex-col justify-center items-center text-center text-white p-4">
      <div class="flex-grow flex flex-col justify-center items-center">
        <h1 class="text-4xl md:text-6xl font-bold mb-4">{{ page.title }}</h1>
        {% if page.next_page %}
          <a href="{% pageurl page.next_page %}" class="bg-madras-teal hover:bg-secondary-600 text-white font-bold py-2 px-4 rounded">
            {{ page.hero_text }}
          </a>
        {% endif %}

      </div>
      <div class="mb-8 space-y-4">
        <a href="/#exhibits" class="bg-madras-indigo hover:bg-supporting-600 text-white font-bold py-2 px-4 rounded">
          Take me to the beginning
        </a>
      <!-- How to Cite Button for Mobile -->
        {% if page.citation_text %}
          <div class="block md:hidden">
            <div x-data="{ open: false }" class="mt-4">
              <div class="flex justify-center" :class="{ 'hidden': open }" x-transition x-cloak>
                <button @click="open = true" class="bg-madras-earth hover:bg-neutral-600 text-white font-bold py-2 px-4 rounded">
                  Cite this page
                </button>
              </div>
              <div :class="{ 'hidden': !open }" x-transition x-cloak class="mt-2 p-4 bg-madras-indigo text-white rounded shadow-lg w-full relative">
                <button @click="open = false" class="absolute top-2 right-2 text-white">
                  &times;
                </button>
                <p class="text-sm">
                  {{ page.citation_text }}
                </p>
              </div>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>

<!-- How to Cite Tab for Desktop -->
  {% if page.citation_text %}
    <div x-data="{ open: false }" class="fixed bottom-0 left-0 m-4 hidden md:block">
      <div class="flex justify-end" :class="{ 'hidden': open }" x-transition x-cloak>
        <button @click="open = true" class="bg-madras-earth hover:bg-neutral-600 text-white font-bold py-2 px-4 rounded">
          Cite this page
        </button>
      </div>
      <div :class="{ 'hidden': !open }" x-transition x-cloak class="mt-2 p-4 bg-madras-indigo text-white rounded shadow-lg w-64 relative">
        <button @click="open = false" class="absolute top-2 right-2 text-white">
          &times;
        </button>
        <p class="text-sm">
          {{ page.citation_text }}
        </p>
      </div>
    </div>
  {% endif %}
{% endblock content %}
