{% extends 'base.html' %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block title %}Connecting Threads{% endblock title %}

{% block nav_class %}bg-transparent text-white absolute top-0 left-0 w-full z-20{% endblock %}

{% block nav_hero %}{% endblock %}

{% block index %}
  <!-- Hero Section -->
  <div class="relative h-screen bg-cover bg-center" style="background-image: url('{% static "/img/CT_Exhibition_Opening_Image.original.jpg" %}');">
    <div class="absolute inset-0 bg-black opacity-50"></div>
    <div class="relative z-10 flex items-center justify-center h-full text-white">
      <div class="max-w-6xl mx-auto px-4 grid grid-cols-1 md:grid-cols-2 gap-8 items-center">
        <!-- Title Column -->
        <div class="text-center md:text-left">
          <h1 class="text-4xl md:text-5xl lg:text-6xl font-bold mb-4">{{ about_snippet.title }}</h1>
          <p class="text-lg md:text-2xl">{{ about_snippet.subtitle }}</p>
        </div>

        <!-- About Column -->
        <div class="text-base md:text-lg prose prose-invert">
          {{ about_snippet.content|safe }}
        </div>
      </div>

      <!-- Scroll indicator - moved higher up from bottom -->
      <div class="absolute bottom-16 md:bottom-24 left-0 right-0 flex justify-center">
        <svg class="w-8 h-8 text-white animate-bounce" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
          <path d="M19 14l-7 7m0 0l-7-7m7 7V3"></path>
        </svg>
      </div>
    </div>
  </div>

  <!-- Explore Section -->
  <section id="exhibits" class="py-16 bg-madras-teal bg-opacity-10 min-h-full flex items-center">
    <div class="container mx-auto px-4 text-center">
      <h2 class="text-3xl md:text-3xl font-bold mb-8 text-madras-indigo">Explore the story by choosing one of the regions below:</h2>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
        {% for exhibit in exhibits %}
        {# TODO: This is a hacky fix we'll want to properly resolve at some point. #}
          {% if exhibit.title != "Exhibits" %}
            <div class="relative group">
              <div class="w-full h-64 relative">
                <a href="{{ exhibit.full_url }}">
                  {% image exhibit.image original class="w-full h-full object-cover" %}
                  <div class="absolute inset-0 bg-black opacity-50 flex items-center justify-center text-white text-xl font-bold group-hover:opacity-75 transition-opacity">{{ exhibit.title }}</div>
                </a>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock index %}

{% block extrajs %}
  <script src="{% static 'js/ct.js' %}"></script>
{% endblock extrajs %}
