{% extends 'base.html' %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block title %}Connecting Threads{% endblock title %}

{% block index %}
  <!-- Hero Section -->
  <div class="relative h-screen bg-cover bg-center" style="background-image: url('{% static "/img/CT_Exhibition_Opening_Image.original.jpg" %}');">
    <div class="absolute inset-0 bg-black opacity-50"></div>
    <div class="relative z-10 flex flex-col items-center justify-center h-full text-center text-white">
      <h1 class="text-4xl md:text-6xl font-bold">Connecting Threads</h1>
      <p class="mt-4 text-lg md:text-2xl">Fashioning Madras in India and the Caribbean</p>
    </div>
  </div>

  <!-- Introduction Section -->
  <section class="py-16 bg-white min-h-full flex items-center">
    <div class="container mx-auto px-4 text-center prose">
      <p>Connecting Threads is a collaborative digital history project dedicated to amplifying the contributions of Indian weavers and African Caribbean consumers to global histories of dress.</p>
      <p>Drawing on the work of an interdisciplinary team of researchers, the project has re-examined the history of the Madras handkerchief, an internationally popular dress accessory made of brightly coloured checked cotton.</p>
      <p>This exhibition uses Connecting Threads research to explore the influence of Madras handkerchiefs on 18th and 19th century dress. The story begins with the origins of Madras in South India before exploring Madras fashions in the Greater Caribbean, and the impact of those fashions in Europe and beyond.</p>
    </div>
  </section>

  <!-- Explore Section -->
  <section id="exhibits" class="py-16 bg-gray-100 min-h-full flex items-center">
    <div class="container mx-auto px-4 text-center">
      <h2 class="text-3xl md:text-3xl font-bold mb-8">Explore the story by choosing one of the regions below:</h2>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
        {% for exhibit in exhibits %}
          <div class="relative group">
            <div class="w-full h-64 relative">
              <a href="{{ exhibit.full_url }}">
                {% image exhibit.image original class="w-full h-full object-cover" %}
                <div class="absolute inset-0 bg-black opacity-50 flex items-center justify-center text-white text-xl font-bold group-hover:opacity-75 transition-opacity">{{ exhibit.title }}</div>
              </a>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock index %}

{% block extrajs %}
  <script src="{% static 'js/ct.js' %}"></script>
{% endblock extrajs %}
